.header{
	background: url('../images/bloqup.png');
	background-size: cover;
}

.footer{
	background: url('../images/bloqdown.png') no-repeat;
	height: 500px;
}

.btn_ayuda{
	border: 1px solid;
	padding: 10px;
	background: red;
}

.text_footer{
	width: 500px;
	right: 10%;
	position: absolute;
	bottom: 10%;
}

.contenedor_logo{
	background: #00aeef;
	clear: both;
	height: 200px;
	width: 366px;
	margin-left: 4em;
}

.contenido_derecha{
	margin-top: 14%;
    margin-left: 5%;
    color: #5d5a5a;
    float: left;
    position: absolute;
    border: 1px solid;
    padding: 51px 38px 105px 38px;
}