.header{
	background: url('../images/bloqup.png') no-repeat #fff;
	background-size: cover;
	border-bottom: 1px solid #5d5a5a !Important;
}

.footer2{
	background: url('../images/bloqdown.png') no-repeat;
	height: 500px;
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
	left: 0;
	z-index: 3000;
	border: none !important;
	text-shadow: none !important;
}

.btn_ayuda{
	border: 1px solid;
	padding: 10px;
	background: #5d5a5a;
	float: right;
	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	line-height: 3.5;
	margin-top: 20px;
	cursor: pointer;
}

.text_footer{
    width: 640px;
    right: 0;
    position: absolute;
    bottom: 5%;
    border-top: 1px solid black;
    padding-right: 115px;
}

.text_foot{
	float: left;
	width: 33em;
	padding: 10px;
}

.contenedor_logo{
	background: #00aeef;
	clear: both;
	height: 200px;
	width: 366px;
	margin-left: 4em;
	margin-bottom: 15px;
}

.contenido_derecha{
	margin-top: 14%;
    margin-left: 5%;
    color: #5d5a5a;
    float: left;
    position: absolute;
    border: 1px solid;
    padding: 51px 38px 105px 38px;
}




/*DETALLE*/

.detLogo{
	float: left;
    width: 20%;
    margin: 0 1% 0 100px;
}

.detlog{
	width: 100% !important;
    height: 91px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.cabezaTexto{
	width: 44%;
	float: left;
}



@media (min-width: 768px) and (max-width: 1199px) {
	/*#ambs{
		width: 100%
	}*/
 }
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) { 

	.contenido_derecha{
		display: none;
	}
}
 

/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	.text_foot,.contenido_derecha{
		display: none;
	}
	.btn_ayuda{
		width: 100px;
		height: 100px;
		font-size: 26px;
	}
	.detLogo{
		width: 80%;
    	margin-left: 46px;
	}
	.cabezaTexto{
		width: 100%;
	}
	.amb-title{
		text-align: center;
	}
	.header a#ajuda{
		margin-right: 100px;
	}
	.header a.home{
		margin-left: 155px;
	}

	#ambs{
		width: 100% !important;
	}
}